.App {
  text-align: center;
  margin: 1em;
}

.count {
  padding: 0 2vw;
}

.square {
  background: transparent;
  border: 1px solid black;
  font-size: 2em;
  height: 3em;
  margin-right: -1px;
  margin-top: -2px;
  width: 3em;
}

.score-board {
  display: flex;
  flex-direction: column;
}
.score-table {
  font-size: 2em;
  text-align: left;
  display: flex;
  margin: 1vh auto 4vh;
  flex-direction: column;
}

.undo {
  font-size: 2em;
  margin: 2vh 0;
}
